
<div class="boy">
	<header class="header">

		<!-- <a href="#" class="logo"> <span>magic</span>event</a> -->

		<nav class="navba">
		<img class="im" src="assets/img/user/logo.png" alt="" width="40px" height="60px">

			<a class="active" routerLink="/">home</a>
			<a routerLink="/service">service</a>
			<a routerLink="/CreatEvent">CreatEvent</a>
			<a routerLink="/gallery">gallery</a>
			<a routerLink="/event">Event</a>
			<a routerLink="/review" >review</a>
			<a routerLink="/contact" >contact</a>


		 <a style="float:right ;" routerLink="/login" >Login</a>
		</nav>




	</header>
	</div>
