<!-- <!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form</title>

</head>
<body>

<form action="index.html" method="post" [formGroup]="signForm" (ngSubmit)="signup()" >

  <h1>Sign Up</h1>

  <fieldset>
    <legend><span class="number">1</span>Your basic info</legend>
    <label for="name">Name:</label>
    <input formControlName="name" type="text" id="name" name="user_name">
    <label for="name">Last Name :</label>
    <input formControlName="lname" type="text" id="name" name="user_lname">



    <label for="mail">Email:</label>
    <input formControlName="email" type="email" id="mail" name="user_email">

    <label for="password">Password:</label>
    <input formControlName="pass" type="password" id="password" name="user_password">
    <label for="name">CIN :</label>
    <input formControlName="cin" type="number" id="name" name="cin">
    <label for="name">Mobile Number :</label>
    <input formControlName="tlf" type="number" id="name" name="tlf">
  </fieldset>

  <fieldset>
    <legend><span class="number">2</span>Your profile</legend>
    <label for="bio">Biography:</label>
    <textarea formControlName="bio" id="bio" name="user_bio"></textarea>
  </fieldset>
  <fieldset>
  <label for="job">Job Role:</label>
  <select formControlName="role" id="job" name="user_job">

      <option value="tr">Traiteur</option>
      <option value="se">Serveur</option>
      <option value="es">Espace</option>
      <option value="lo"> Locataire</option>
      <option value="an">Animateur</option>
      <option value="ph">Photographeur</option>

  </select>
  </fieldset>
  <button type="submit">Sign Up</button>
</form>

</body> -->


<br><br><br><br><br>
<div class="boy" >
  <div class="container">
    <div class="title">Registration  Bus-user</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Username</span>
            <input type="text" placeholder="Enter your username" required>
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your email" required>
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" required>
          </div>
          <div class="input-box">
            <span class="details">CIN</span>
            <input type="text" placeholder="Enter your CIN" required>
          </div>
          <div class="input-box">
            <span class="details">Adress</span>
            <input type="text" placeholder="Enter your Address" required>
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your password" required>
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your password" required>
          </div>
          
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Function</span>
          <div class="category">
           

            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Traiteur</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Serveur</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Espace</span>
            </label>
            <label for="dot-4">
              <span class="dot four"></span>
              <span class="gender">Locataire</span>
              </label>
              <label for="dot-5">
                <span class="dot five"></span>
                <span class="gender">Animateur</span>
                </label>
                <label for="dot-6">
                  <span class="dot six"></span>
                  <span class="gender">Photographeur</span>
                  </label>
          </div>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
</div>


