
<body>



<form (ngSubmit)="onSubmit(k)"   #k="ngForm">

  <h1> request</h1>

  <div class="contentform">
    <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>


    <div class="leftcontact">
      <div class="form-group">
        <p>Surname<span>*</span></p>
        <span class="icon-case"><i class="fa fa-male"></i></span>
        <input type="text" [(ngModel)]="reservation.name" #name="ngModel" name="nom" id="nom" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Nom' doit être renseigné."/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>E-mail <span>*</span></p>
        <span class="icon-case"><i class="fa fa-envelope-o"></i></span>
        <input [(ngModel)]="reservation.email" #email="ngModel" type="email" name="email" id="email" data-rule="email" data-msg="Vérifiez votre saisie sur les champs : Le champ 'E-mail' est obligatoire."/>
        <div class="validation"></div>
      </div>


      <div class="form-group">
        <p>Phone number <span>*</span></p>
        <span class="icon-case"><i class="fa fa-phone"></i></span>
        <input [(ngModel)]="reservation.phone" #phone="ngModel" type="text" name="phone" id="phone" data-rule="maxlen:10" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Téléphone' doit être renseigné. Minimum 10 chiffres"/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>type Event <span>*</span></p>
        <span class="icon-case"><i class="fa fa-info"></i></span>
        <input [(ngModel)]="reservation.event" #event="ngModel" type="text" name="event" id="event" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Fonction' doit être renseigné."/>
        <div class="validation"></div>
      </div>




      <div class="form-group">
        <p>Date <span>*</span></p>
        <span class="icon-case"><i class="fa fa-user"></i></span>
        <input [(ngModel)]="reservation.date" #date="ngModel" type="text" name="date" id="date" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Prénom' doit être renseigné."/>
        <div class="validation"></div>
      </div>


      <div class="form-group">
        <p>Number of days <span>*</span></p>
        <span class="icon-case"><i class="fa fa-home"></i></span>
        <input [(ngModel)]="reservation.days" #days="ngModel" type="text" name="days" id="days" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Société' doit être renseigné."/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Service <span>*</span></p>
        <span class="icon-case"><i class="fa fa-location-arrow"></i></span>
        <input [(ngModel)]="reservation.service" #service="ngModel" type="text" name="service" id="service" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Adresse' doit être renseigné."/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Postcode <span>*</span></p>
        <span class="icon-case"><i class="fa fa-map-marker"></i></span>
        <input [(ngModel)]="reservation.postal" #postal="ngModel" type="text" name="postal" id="postal" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Code postal' doit être renseigné."/>
        <div class="validation"></div>
      </div>



    </div>

    <div class="rightcontact">

      <div class="form-group">
        <p>City <span>*</span></p>
        <span class="icon-case"><i class="fa fa-building-o"></i></span>
        <input [(ngModel)]="reservation.ville" #ville="ngModel" type="text" name="ville" id="ville" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Ville' doit être renseigné."/>
        <div class="validation"></div>
      </div>


      <div class="form-group">
        <p>Function <span>*</span></p>
        <span class="icon-case"><i class="fa fa-info"></i></span>
        <input [(ngModel)]="reservation.fonction" #fonction="ngModel" type="text" name="fonction" id="fonction" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Fonction' doit être renseigné."/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Remark <span>*</span></p>
        <span class="icon-case"><i class="fa fa-comment-o"></i></span>
        <input [(ngModel)]="reservation.sujet" #sujet="ngModel" type="text" name="sujet" id="sujet" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Sujet' doit être renseigné."/>
        <div class="validation"></div>
      </div>

      <div class="form-group">
        <p>Description <span>*</span></p>
        <span class="icon-case"><i class="fa fa-comments-o"></i></span>
        <textarea [(ngModel)]="reservation.message" #message="ngModel" name="message" rows="14" data-rule="required" data-msg="Vérifiez votre saisie sur les champs : Le champ 'Message' doit être renseigné."></textarea>
        <div class="validation"></div>
      </div>
    </div>
  </div>
  <button type="submit" class="bouton-contact">reservation</button>
    <button type="submit" class="bouton-contact">request</button>
</form>




</body>
