@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,600;0,700;1,200;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
}


.main_bg {
    background: rgb(255, 255, 255);
    /* background-image: url(background.jpg); */
    max-width: 1300px;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form {
    width: 650px;
}

.form-text {
    text-align: center;
    margin: 0 18px 18px 0;
}

.form-text h1 span img {
    margin: 0 10px;

}
.ng-errors.ng-touched{
    border-color: #fff;
}





.form-text h1 {
    color: rgb(26, 22, 22);

    /* color: #fff; */
    /* font-family: "Times New Roman", Times, serif; */
    font-family: 'Akaya Telivigala', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}


.form-text p {
    color: rgb(177, 7, 7);
    /* color: black; */
    font-family: "Times New Roman", Times, serif;
    /* font-family: 'Akaya Telivigala', cursive; */
    font-size: small;
}

.main-form div {
    margin: 10px 10px;
    width: 268px;
    display: inline-block;
    color: rgb(26, 22, 22);
}


input::placeholder {
    color: rgb(26, 22, 22);
    /* opacity: 1; */
  }



.main-form div input {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    background: none;
    border: 1px solid #070606;
    ;
    font-size: 20px;
    /* color: #fff; */
    color: black;

    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}

.imag {
    align-items: center;
    width: 370px;
    position: static;
    height: 120px;

}


.main-form div select {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    background: none;
    border: 1px solid #1a1616;
    font-size: 22px;
    color: rgb(26, 22, 22);
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}

.main-form div span {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    color: black;
    font-size: 23px;
}

.sub button {
    width: 80px;
    height: 5em;
    margin-right: 15px;
margin-bottom: 20px !important;
font-size: 10px;
padding: 20px;



    /* width: 50%;
    text-align: center;

     margin-right: 50px; */
     /* list-style: none; */
     /* text-align: center;
     display:inline-block;
     line-height: 30px; */

}
/* #submit button {
    display:inline-block;

    font-family: 'Akaya Telivigala', cursive;
    width: 100px;
    background-color:red !important;
    /* color: black !important; */
    /* transition: all .3s; */
    /* margin-right:16px */
/* } */


#submit input {

    font-family: 'Akaya Telivigala', cursive;
    width: 100px;
    height: 5em;
    background-color: rgb(9, 190, 9) !important;
    color: #ffffff !important;
    transition: all .3s;
    /* margin-right:16px */
}

#submit input:hover {
    /* font-family: 'Akaya Telivigala', cursive; */
    font-family: "Times New Roman", Times, serif;

    width: 200px;
    background-color: rgb(47, 185, 12) !important;
    color: #3e404d !important;
}

#submit input:active {
    font-size: 19px;
    background-color: rgb(255, 255, 255) !important;
    color: #11161a !important;
}


@media screen and (max-width:710px) {
    .main-form {
        text-align: center;
    }
}

/* make by ruhul amin */














