

<!-- <app-nav-bar></app-nav-bar> -->
<div class="sidebar">
	<ul class="sidebar-nav">
		<li class="sidebar-nav-item">
			<a routerLink="/navbar"  class="sidebar-nav-link">
				<div>
					<i class="fas fa-tachometer-alt"></i>
				</div>
				<span>
					Dashboard
				</span>
			</a>
		</li>
		<li class="sidebar-nav-item">
			<a routerLink="/crudevents" class="sidebar-nav-link active">
				<div>
					<i class="fab fa-accusoft"></i>
				</div>
				<span>Event</span>
				<!-- <a routerLink="/home">home</a> -->
			</a>
		</li>
		<li  class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">
				<div>
					<i class="fas fa-tasks"></i>
				</div>
				<span>User</span>
			</a>
		</li>
		<li  class="sidebar-nav-item">
			<a routerLink="" class="sidebar-nav-link">
				<div>
					<i class="fas fa-spinner"></i>
				</div>
				<span>Bus-User</span>
			</a>
		</li>
		<li  class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">
				<div>
					<i class="fas fa-check-circle"></i>
				</div>
				<span>Reservation</span>
			</a>
		</li>
		<li  class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">
				<div>
					<i class="fas fa-bug"></i>
				</div>
				<span>Tables</span>
			</a>
		</li>
		<li  class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">
				<div>
					<i class="fas fa-chart-line"></i>
				</div>
				<span> Authentication </span>
			</a>
		</li>
		<li  class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">
				<div>
					<i class="fas fa-book-open"></i>
				</div>
				<span>Avis</span>
			</a>
		</li>
		<li  class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">
				<div>
					<i class="fas fa-adjust"></i>
				</div>
				<span>
					statistical</span>
			</a>
		</li>
		<li  class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">
				<div>
					<i class="fab fa-algolia"></i>
				</div>
				<span>Service</span>
			</a>
		</li>
		<li  class="sidebar-nav-item">
			<a href="#" class="sidebar-nav-link">
				<div>
					<i class="fas fa-audio-description"></i>
				</div>
				<span>Gallery</span>
			</a>
		</li>
	</ul>
</div>