

  <section id="hero">
    <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Welcome<br><span> To Magic Event </span> </h1>
      <p class="mb-4 pb-0"></p>
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
      <a href="#about" class="about-btn scrollto">About The Event</a>
    </div>
  </section><!-- End Hero Section -->

<section>

  <!--
    <div class="col-sm-9 padding-right">-->
      <!-- section title --><!--
    <div class="col-md-12">
      <div class="features_items">

        <h2 class="title text-center"> Produits</h2>
      </div>
    </div>
     /section title -->

    <!-- Products tab & slick
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let p of animateurs">
          <div class="card my-2">
            <div *ngIf="p.IMG == null ; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <img   [src]="p.IMAGE"  alt="" width="200px"  height="200px" class="card-img-top" (click)="selectProduct(p.ID_PRODUIT)" style="cursor:pointer;">

            </ng-template>
            <ng-template #elseBlock>
              <img   [src]="p.IMG"  alt="" width="200px"  height="200px" class="card-img-top" (click)="selectProduct(p.ID_PRODUIT)" style="cursor:pointer;">


            </ng-template>



            <div class="card-header">
              <div class="card-title">
                <p>{{p.NOM_PRODUIT | titlecase}}</p>
              </div>
            </div>
            <div class="card-body">
              <h6>{{p.DEF_PRODUIT.substr(0, 50)}} </h6>
            <p class="lead">{{p.PRIX | currency:'TND'}}</p>
            </div>

            <div class="row d-flex justify-content-center border-primary my-3">
              <div class="col-md-6 ">
                <button class="btn btn-outline-primary btn-sm btn-block"
                        [class.disabled]="p.quantity < 1"
                        [class.btn-outline-danger]="p.quantity < 1"
                        (click)="AddProduct(p.ID_PRODUIT)" [disabled]="p.quantity < 1">
                  {{ p.quantity < 1 ? "NO STOCK" : "Ajouter au panier"}}
                </button>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
-->
<!-- Products tab & slick
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let p of animateurs">
        <div class="card my-2">


          <ng-template #elseBlock>
            <img   [src]="p.image"  alt="" width="200px"  height="200px" class="card-img-top" (click)="selectProduct(p.ID_PRODUIT)" style="cursor:pointer;">


          </ng-template>



          <div class="card-header">
            <div class="card-title">
              <p>{{p.nom | titlecase}}</p>
            </div>
          </div>
          <div class="card-body">
            <h6>{{p.DEF_PRODUIT.substr(0, 50)}} </h6>
            <p class="lead">{{p.PRIX | currency:'TND'}}</p>
          </div>

          <div class="row d-flex justify-content-center border-primary my-3">
            <div class="col-md-6 ">
              <button class="btn btn-outline-primary btn-sm btn-block"
                      [class.disabled]="p.quantity < 1"
                      [class.btn-outline-danger]="p.quantity < 1"
                      (click)="AddProduct(p.ID_PRODUIT)" [disabled]="p.quantity < 1">
                {{ p.quantity < 1 ? "NO STOCK" : "Ajouter au panier"}}
              </button>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>


  </div>-->
</section>


