

.reivew .box{
    border-radius: .5rem;
    background: #333;
    padding:rem;
    position: relative;
}

.reivew .box .fa-quote-right{
    position: absolute;
    top:2rem; right: 2rem;
    color:var(--main-color);
    font-size: 3rem;
}

 .swiper-slide{
    overflow: hidden;
    border-radius: .5rem;
    height: 20rem;
    width:30rem;
}

 .swiper-slide img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.reivew .box .user{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding-bottom: 1rem;
}

.reivew .box .user img{
    height:7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reivew .box .user h3{
    font-size: 1.5rem;
    color:#fff;
}

.reivew .box .user span{
    font-size: 1.5rem;
    color:#eee;
}
.reivew{
    background-color: #222;
}

.reivew .box p{
    line-height: 2;
    color:#eee;
    padding:.5rem 0;
    font-size: 1.6rem;
}

.swiper-wrapper .swiper-slide{
    margin-left: auto;
    margin-right: 40px;
    width: 24em;
    
}