
<div class="container">
  <div class="section">

<section class="event" id="event">

    <h1 class="heading"> Our Event <span></span> </h1>

    <div class="box-container">

        <div class="box" *ngFor="let e of events">
            <h3 class="title">{{e.name}}</h3>
            <h3 class="amount"></h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
             <h2 class="picture"> {{e.email}}</h2>
          <!--  <img class="picture" src={{e.adresse}} alt="">-->
        </div>



    </div>


</section>
  </div></div>



